<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Sets</title>
</head>
<body>
    <div>
        <header class="hero bg-base-200 text-primary-content py-6"> 
            <div class="container mx-auto">
                <a href="/lego/sets?theme=Technic" class="btn btn-sm hover:text-gray-400">Technic</a> 
                <a href="/lego/sets?theme=Classic Town" class="btn btn-sm hover:text-gray-400">Classic Town</a>
            </div>
        </header>

        <main class="container mx-auto px-4">
            <%- include('partials/navbar', { page: '/lego/sets' }) %>

            <div class="overflow-x-auto mt-6"> 
                <table class="table w-full table-compact"> 
                    <thead class="text-left">
                        <tr>
                            <th>Image</th>
                            <th class="p-2">Name</th>
                            <th class="p-2">Theme</th>
                            <th class="p-2">Year</th>
                            <th class="p-2">Parts</th>
                            <th class="p-2">Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% sets.forEach(set => { %>
                            <tr>
                                <td class="p-2">
                                    <img src="<%= set.img_url %>" alt="<%= set.name %>" class="w-16 h-16 rounded-md object-cover">
                                </td>                                
                                <td class="p-2"><%= set.name %></td>
                                <td class="p-2">
                                    <a href="/lego/sets?theme=<%= set.Theme.name %>" class="btn btn-sm btn-outline"> 
                                        <%= set.Theme.name %>
                                    </a>
                                </td>
                                <td class="p-2"><%= set.year %></td>
                                <td class="p-2"><%= set.num_parts %></td>
                                <td class="p-2">
                                    <a href="/lego/sets/<%= set.set_num %>" class="btn btn-sm btn-outline hover:text-gray-400">Details</a> 
                                </td>
                            </tr>
                        <% }); %> 
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</body>
</html>
